.items-container{
    background-color: #444443;
    padding: 30px;
}
.items{
    /* display: grid; */
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.card{
    margin-bottom: 15px;
}

