.items-container{
    background-color: #444443;
    padding: 30px;
}
.items{
    /* display: grid; */
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

/* Media query */
@media only screen and (max-width: "576px") {
    .items{
        gap: 10px;
    }
}