.footer{
    background: #505050;
    color: white;
    padding: 30px;
    width: 100%;
}
.footer a{
    text-decoration: none;
    font-size: 20px;
    color: #ca952b;
}
.footer a:hover{
    color: white;
}
.copy{
    color: #ca952b;
}
.social-icons{
    gap: 10px;
    
}
.social-icons a{
    text-decoration: none;
    color: #ca952b;
}
.social-icons a:hover{
    color:white;
}