
nav{
  font-family: "Oswald", sans-serif;
  font-weight: 300 !important;
  background: #505050;
  color: bisque;
}
nav a{
    margin-right: 30px;
    font-size: medium;
    /* color: white; */
}
.navLink:hover{
  color:orange;
}
nav a:last-child, nav a:nth-child(6){
  margin-right: 5px;
  margin-left: 0;
}
